/*
    Created on : 19 Nov, 2015, 5:00:04 PM
    Author     : Anshuman
*/

body {
    padding:20px;
    /*background-color: #f7fbff;*/
}

.half_width{
    width: 49%;
}

.full_width{
    width: 99%;
}

.box {
    color: #000;
    background-color: #e4e6e8;
    padding: 8px;
    border-radius: 4px;
    border: 2px ridge #fff;
}

.box_left {
    float:left;
    color: #000;
    background-color: #e4e6e8;
    padding: 8px;
    border-radius: 4px;
}

.box_right {
    float:right;
    color: #000;
    background-color: #e4e6e8;
    padding: 8px;
    border-radius: 4px;
}

.nav-button{
    color: #153;
    font-weight:bold;
    background-color: #e8e9f8;
    width:12em;
    padding: 8px;
    border-radius: 4px;
    border: 3px ridge #CDE;
    opacity: 0.80;
}

.nav-button:hover {
    padding:  15px 0px 15px 0px;
    opacity: 1;
    font-size: 15px;
    color: #000;
}

.nav_bar {
    z-index: 99999;
    position:fixed;
    opacity: 0;
}
.nav_bar:hover {
    opacity: 1;
}


.pagination{
    position: fixed;
    left:10px;
    top:55px;
    background-color: #800;
}

.lst{
    padding:4px;
    float:left;
    border: 1px solid  #ccc;
    list-style-type:none;
}

.popup{
    text-align:center;
    position: fixed;
    left:35%;
    width:30%;
    top:130px;
    border: 3px ridge  #eee;
    padding: 1%;
    font-size: medium;
    background-color: #fff;
}

a.link_cust{
    text-decoration:none;
}

#signupbutton{
    background-color:  #ccc;
    float:right;
}

#loginbutton{
    background-color:  #ccc;
}
.grad1 {
    height: 200px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
}

.time_divs{
    position:fixed;
    left:0%;
    top:0%;
    height:75px;
    width:175px;
    opacity: 0;
}

.time_divs:hover {
    opacity: 1;
}
